<h1>Eat-Da-Burger!</h1>

<div class="container">
  <figure class="box">
    <ol type="1" id="uneaten-burg">
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
        {{/unless}}
      {{/each}}
    </ol>
  </figure> 
  <img src="assets/img/BlueBurger.png" id="burger-img" alt="blue-burger">
  <figure class="box">
    <ol type="1" id="devoured-burg">
      {{#each burgers}}
        {{#if devoured}}
          <li>
            {{burger_name}}
          </li>
          {{!-- {{> burgers/burger-block devoured=false}} --}}
        {{/if}}
      {{/each}}
    </ol>
  </figure>
</div>

<form class="create-form">
  <textarea id="bur" name="burger_name"></textarea>
  <button type="submit" id="submit-button">Submit</button>
  <p>Enter a burger you want to eat and then click the "Submit" button</p>
</form>

<footer class="main-footer">
  <p>Copyright &copy; 2018, Danny Nguyen</p>
</footer>