/* li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
} */

h1 {
    text-align: center;
}
.label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 5px;
}

#burg-img {
    float:left;
}

#uneaten-burg {
    float: left;
}

#devoured-burg {
    float: left;
}